node_modules
bun.lock

.DS_STORE
/target*
out/
snapshots/
out.json
.idea
.vscode

.claude/settings.json
.claude/settings.local.json
.env
node_modules
dist
bin
_
*.tgz
.zed
.vercel
.vite
.wrangler
/build
*.zip
